# https://editorconfig.org/

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitesp ace = true

# TypeScript and JavaScript
[*.{ts,tsx,js,jsx,mjs}]
indent_style = space
indent_size = 2
max_line_length = 100

# JSON
[*.json]
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Package files
[{package.json,*.lock}]
indent_style = space
indent_size = 2
